---

---

<div class="flex">
  <button
    class="justify-self-end bg-text-heading/10 dark:bg-white/10 ml-4 inline-flex h-6 w-11 items-center rounded-full"
    id="mode-toggle"
    role="switch"
    type="button"
    tabindex="0"
    aria-checked="false"
    data-headlessui-state=""
    title="Toggle Dark Mode"
  >
    <span
      id="mode-circle"
      class={[
        "inline-block",
        "h-4",
        "w-4",
        "rounded-full",
        "bg-gradient-to-b",
        "from-amber-400",
        "to-amber-600",
        "translate-x-1",
        "dark:bg-gradient-to-t",
        "dark:from-cyan-300",
        "dark:to-cyan-500",
        "dark:translate-x-6",
      ].join(" ")}
    >
    </span>
  </button>
</div>
